{% extends 'mysite/base.html' %}
{% block title %}
    西单商场
{% endblock %}

{% block content %}
    <div class="container" align="center">
        {% for p in products %}
            {% if forloop.first %}
                <table>
                    <tr bgcolor="#cccccc">
                        <td width="250">库存手机</td>
                        <td width="150">出厂型号</td>
                        <td width="50">出厂年</td>
                        <td >价格</td>
                    </tr>

            {% endif %}

            <tr bgcolor="{% cycle "#ffccff" "#ccffcc" %}">
{#                <td>{{ p.nickname }}</td>#}
                <td><a href="{% url "detail_url" p.id %}">{{ p.nickname }}</a></td>
                <td>{{ p.pmodel.maker.name }}/{{ p.pmodel }}</td>
                <td>{{ p.year }}</td>
                <td align="right">{{ p.price }}</td>
            </tr>
            {% if forloop.last %}
            </table>
            {% endif %}
            {% empty %}
            <h3>目前没有库存</h3>
        {% endfor %}
    </div>
{% endblock %}