{% load static %}
<div class="container">
     <nav class="nav navbar-default" role="navigation"></nav>
        <div class="navbar-header">
            <a class="navbar-brand" href="hello.html" >
                <img src="{% static 'imgs/sd.jpg' %}" width="150px">
            </a>
        </div>
        <div>
            <ul class="nav navbar-nav" role="navigation">
                <li><a href="{% url 'blog:blog_title' %}">BLOG</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'account:user_login' %}">LOGIN</a></li>
            </ul>
        </div>

</div>